.alert {
  display: flex;
  align-items: center;
  width: 350px;
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  z-index: 9999;
  font-family: 'Poppins Fields';
}

.alert-icon {
  margin-right: 10px;
}

.error {
  background-color: #ff6b6b;
  color: #fff;
}

.success {
  background-color: #4caf50;
  color: #fff;
}

.warning {
  background-color: #ffcc00;
  color: #333;
}
